<div id="background_image">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 well">
        <h1>Welcome to SpaceLeap!</h1>
        <h4>Disclaimer! Game requires a Leap Motion to play. If you don't have one, I recommend you buy one.</h4>
        <div class="btn-toolbar" id="name_start">
          <%= form_tag(game_path, {:method => :get}) do %>
          <div>Include name to save score:</div>
          <input id="name" name="name" type="text" placeholder="Name" />
          <%= submit_tag "Start Game", class: 'btn btn-success' %>
          <% end %>
        </div>
        <div>
          <h3>Highscores</h3>
          <% @highscores.order("score desc").limit(10).each_with_index do |x,index| %>
          <p>#<%= index+1 %> ) <%= x.initials %>: <%= x.score %></p>
          <% end %>
        </div>
      </div>
    <div class="col-xs-4"></div>
</div>
</div>