<!DOCTYPE html>
<html>
<head>
  <title>LeapGame</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <!-- Javascript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="http://js.leapmotion.com/leap-0.6.0-beta2.min.js"></script>
    <script src="http://js.leapmotion.com/leap-plugins-0.1.7.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>
